<suite name="Suite">

  <test name="ChromeTest">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="parameterization.ParametersTest"/>
    </classes>
  </test>

  <test name="EdgeTest">
    <parameter name="browser" value="edge"/>
    <classes>
      <class name="parameterization.ParametersTest"/>
    </classes>
  </test>

</suite>